[default]
outpath = ./
vidfmt = 2
log = dlvideo.log
log_level = debug
dlmethod = wget
; n parts per file
npf=5
tmin=5
tmax=8

[u2b]
u2b_cmd =
u2b_proxy =
u2b_cache = .u2cache
u2b_create_dir = false
u2b_title_format = %(title)s-%(id)s.%(ext)s

[flvcd]
default = true
sohu.com = false
youku.com = true
56.com = false
tudou.com = false
iqiyi.com = false
