[default]
; 访问gfwlist使用的代理
; 格式 PROXY|SOCKS|SOCKS5 [username:password@]hostname:port
gfwProxy = PROXY localhost:8087
;SOCKS5 127.0.0.1:46126;
gfwUrl = http://autoproxy-gfwlist.googlecode.com/svn/trunk/gfwlist.txt

; PAC文件目录
pacPath = ./www/pac

; 用户定义列表文件
user_rule_file = user_rule.txt

[pacProxy]
; 用于PAC规则的代理
; 格式 DIRECT|((PROXY|SOCKS|SOCKS5) hostname:port) [[; DIRECT|((PROXY|SOCKS|SOCKS5) hostname:port)] ...]
; 'DIRECT' 表示不使用代理
; 'PROXY' 表示使用HTTP代理
; 'SOCKS' 表示使用SOCKS4代理
; 'SOCKS5' 表示使用SOCKS5代理
; 多种连接方法使用';'隔开，系统会依次尝试，直到连通
; 注意：如果是在MAC下的SOCKS代理，必须设置成SOCKS5,在IOS下SOCKS4和SOCKS5代理都使用SOCKS
sock5 = SOCKS5 localhost:46126;
http = proxy localhost:8087;


